.item-container {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.item-container h4 {
    padding-left: 10px;
}

h4.handle {
  color: lightgray;
}

.item-body {
    /* width: 90%; */
}

.item-body p {
    text-align: left;
    color: black;
}

img {
    width: 14vw;
    height: 160px;
}

.item-bottom {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
