.footer {
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  justify-content: space-between;
}

.footer-item {
  background-color: #D6e9fe;
  height:40px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-one,
.footer-three {
  flex: initial;
  background-color: #5995da;
  width: 200px;
}
